# SearXNG Configuration
SEARXNG_API_URL=http://local:8080  # Replace with your local SearXNG API URL or docker http://searxng:8080
SEARCH_API=searxng  #  use searxng, tavily or exa
SEARXNG_SECRET="supersecretkey" # generate a secret key e.g. openssl rand -base64 32
SEARXNG_PORT=8080 # default port
SEARXNG_BIND_ADDRESS=0.0.0.0 # default address
SEARXNG_IMAGE_PROXY=true # enable image proxy
SEARXNG_LIMITER=false # can be enabled to limit the number of requests per IP address
SEARXNG_DEFAULT_DEPTH=basic # Set to 'basic' or 'advanced', only affects SearXNG searches
SEARXNG_MAX_RESULTS=50 # Maximum number of results to return from SearXNG
SEARXNG_ENGINES=google,bing,duckduckgo,wikipedia,brave # Search engines to use
SEARXNG_TIME_RANGE=None # Time range for search results: day, week, month, year, or None (for all time)
SEARXNG_SAFESEARCH=0 # Safe search setting: 0 (off), 1 (moderate), 2 (strict)
SEARXNG_CRAWL_MULTIPLIER = 4


# Redis Configuration
USE_LOCAL_REDIS=true
REDIS_URL=redis://localhost:6379 # or redis://redis:6379 if you're using docker compose