# Web Framework
fastapi

# Server
uvicorn

# Environment
python-dotenv

# Data Models
pydantic
pillow

# Lint
black

# Language Community Resources
g4f
langchain-community
unstructured
minify_html

# Utilities
plantuml
youtube-transcript-api
starlette
matplotlib
seaborn

# Others
redberry
retry